.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}

.item {
  align-self: flex-start;
}

.title {
  margin-bottom: 20px;
  font-size: 46px;
  line-height: 1.2;
  letter-spacing: 1.2px;
  color: #4361ee;
}